<!-- <app-c8custompipes></app-c8custompipes> -->
<!-- <app-dc9prod></app-dc9prod> -->

<div class="container bg-light">
    <div class="row">
        <header class="col-md-12">
            <img src="../assets/images/header.jpg" width="100%" height="250px;"/>
        </header>        
    </div>
    <div class="row">
        <nav class="col-md-12 bg-light">
            <ul class="nav justify-content-end nav-tabs">
                <li><a class="nav-link" [routerLink]="['/home']">Home</a></li>
                <li><a class="nav-link" [routerLink]="['/user']">User</a></li>
                <li><a class="nav-link" [routerLink]="['/products']">Products</a></li>
                <li><a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a></li>
            </ul>
        </nav>
    </div>

    <div class="row ">
        <div class="col-md-4 bg-light">
            <ul class="nav flex-column nav-tabs">
                <li><a class="nav-link" href="#">india</a></li>
                <li><a class="nav-link" href="#">usa</a></li>
                <li><a class="nav-link" href="#">uk</a></li>
            </ul>
        </div>
        <div class="col-md-8 main-content">
                routes load here
                <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <footer class="col-md-12 footer">
            <p class="text-center">copyright @ 2019 icsd tech labs</p>
        </footer>
    </div>
</div>